.todoList {
  position: relative;
  top: 50px;
}
.top {
  display: flex;
}
.listBlock {
  padding: 10px;
  background: #c3d3d8;
  width: 850px;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.noTodos {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  height: 327px;
  margin-bottom: 15px;
  overflow: auto;
  scrollbar-gutter: stable;
}

.list::-webkit-scrollbar {
  width: 0.5em;
}

.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border: 10px solid transparent;
}
